.heroContainer {
  padding-top: 100px;
  padding-left: 8%;
  padding-right: 8%;
  height: 400px;

  background: url('../../images/Bg.png') center center/cover no-repeat;
  width: auto;
  overflow: hidden;
  color: #edf2f8;
}
.heroText {
  width: 45vw;
}

span {
  color: #594157;
}
