.copyrightFooterContainer {
  background-color: #726da8;
  color: #fff;
  padding: 4rem 0 2rem 0;
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  align-items: center;
}
